[Unit]
Description=fawkes-discovery
Documentation=https://github.com/Cray-HPE/fawkes-discovery/blob/main/README.md
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Environment=GIN_MODE=release
ExecStart=/usr/sbin/fawkes-discovery-init.sh %t/%n-pid %t/%n-cid fawkes-discovery
ExecStop=/usr/bin/podman stop --ignore -t 10 fawkes-discovery
PIDFile=%t/%n-pid
# all remaining processes in the control group of this unit will be killed on unit stop
# https://www.suse.com/support/kb/doc/?id=000020394
KillMode=control-group
Type=forking

[Install]
WantedBy=multi-user.target